/*format dau tien*/
:root{
	/*button blue*/
	--blue-primary: #0b73b7;
	--blue-mouse-over:#0770b7;
	--blue-mouse-down:#3276b1;
	--blue-disabled:#428bca;
	/*button orange*/
	--orange-primary: #f58020;
	--orange-mouse-over:#fbb045;
	/*btn red*/
	--red-primary:#d2223d;
	--red-mose-over:#d8534f;
	--red-disabled:#d9534f;
	/*back*/
	--black-mouseOver:#333333;
	/*btn dark blue*/
	--darkblue-primary:#141340;
	/*light blue*/
	--lightblue-primary:#00b0de;
	/*line orange*/
	--line-orange:#f58020;
	/*line gray*/
	--line-gray:#cccccc;
	/*font*/
	--font-primary:'Roboto';
}
*{
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-primary);
	font-size: 12px;
}
header {
	padding-bottom: 0;
}
header .contact{
	background: var(--black-mouseOver);
	margin: 0;
	padding: 0;
}
header .contact td{
	width: 300px;
	color: white;
}
header .contact .flag {
	text-align: right;
}
header .contact .flag img{
	width: 40px;
	height: 25px;
	margin-left: 1em;
}
header .logo_search{
	background: whitesmoke;
	padding-top: 0.5em;
}
header .logo_search div{
	display: flex;
}
header .logo_search a img{
	height: 80px;
}
header .logo_search form input[type="search"]{
	width: 20em;
}
header .logo_search form button[type="submit"]{
	background: var(--orange-primary);
	border:none;
	outline: none;
	color: var(--orange-primary);
}
header .logo_search form button[type="submit"]:hover{
	background: var(--orange-mouse-over);
}
header .logo_search form button[type="submit"]:active{
	background: var(--blue-primary) !important;
	box-shadow: 2px 2px 2px 2px var(--blue-disabled),-2px 2px 2px 2px var(--blue-disabled),2px -2px 2px 2px var(--blue-disabled),-2px -2px 2px 2px var(--blue-disabled) !important;
}
header .logo_search form button[type="submit"]:focus{
	background: var(--orange-primary);
	outline: none;
	border: none;
	box-shadow: 2px 2px 2px 2px var(--orange-mouse-over),-2px 2px 2px 2px var(--orange-mouse-over),2px -2px 2px 2px var(--orange-mouse-over),-2px -2px 2px 2px var(--orange-mouse-over);
}
nav.navbar.navbar-expand-lg.navbar-light{
	background-color:var(--lightblue-primary)!important;
	margin-bottom: 0;				
	font-size: 18px;
	font-weight: 300;			
}
@media only screen and (max-width: 992px){
	nav.navbar.navbar-expand-lg.navbar-light{
		background-color:#f8f9fa!important;
	}
}
nav.navbar.navbar-expand-lg.navbar-light a.navbar-brand  img{
	height: 60px;
}
nav.navbar.navbar-expand-lg.navbar-light  button[type="submit"]{
	background: var(--orange-primary);
	border:none;
	outline: none;
	color: var(--orange-primary);
	margin-right:1em; 
}
nav.navbar.navbar-expand-lg.navbar-light  button[type="submit"]:hover{
	background: var(--orange-mouse-over);
}
nav.navbar.navbar-expand-lg.navbar-light  button[type="submit"]:active{
	background: var(--blue-primary) !important;
	box-shadow: 2px 2px 2px 2px var(--blue-disabled),-2px 2px 2px 2px var(--blue-disabled),2px -2px 2px 2px var(--blue-disabled),-2px -2px 2px 2px var(--blue-disabled) !important;
}
nav.navbar.navbar-expand-lg.navbar-light  button[type="submit"]:focus{
	background: var(--orange-primary);
	outline: none;
	border: none;
	box-shadow: 2px 2px 2px 2px var(--orange-mouse-over),-2px 2px 2px 2px var(--orange-mouse-over),2px -2px 2px 2px var(--orange-mouse-over),-2px -2px 2px 2px var(--orange-mouse-over);
}
nav.navbar.navbar-expand-lg.navbar-light a.nav-link {
	position: relative;
	overflow: hidden;
}
nav.navbar.navbar-expand-lg.navbar-light a.nav-link::before{
	content: '';
	display: block;
	position: absolute;
	width: 0%;
	height: 1px;
	bottom: 0;
	left: 50%;
	background: white;
	transition: .3s linear;
}
nav.navbar.navbar-expand-lg.navbar-light:hover	a.nav-link:hover::before{
	width: 100%;
	transform: translate(-50%);
}
nav.navbar.navbar-expand-lg.navbar-light a.nav-link{
	text-transform: uppercase;				
	color: white;
	padding: 0 25px;
	margin: 0;
}
nav.navbar.navbar-expand-lg.navbar-light a.nav-link:hover{
	font-weight: 500;
	color: white;
}
nav.navbar.navbar-expand-lg.navbar-light a.nav-link:active{
	font-weight: 500; 	
	color: var(--orange-primary);
}
nav.navbar.navbar-expand-lg.navbar-light a.nav-link:focus{
	font-weight: 500;
	color: white;
}
@media only screen and (max-width: 992px){
	nav.navbar.navbar-expand-lg.navbar-light a.nav-link:focus{
		font-weight: 500;
		color: black
	}
}	
nav.navbar.navbar-expand-lg.navbar-light a.nav-link:focus::before{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background: white;
	transition: .3s linear;
}
nav.navbar.navbar-expand-lg.navbar-light .active a.nav-link{
	color: white;
	font-weight: 500;
}
nav.navbar.navbar-expand-lg.navbar-light .active a.nav-link::before{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background: white;
	transition: .3s linear;
}
nav.navbar.navbar-expand-lg.navbar-light:hover .active a.nav-link::before{
	display:none;
}
nav.navbar.navbar-expand-lg.navbar-light:hover .active a.nav-link::before{
	display:none;
}
@media only screen and (max-width: 992px){
	nav.navbar.navbar-expand-lg.navbar-light .collapse.navbar-collapse .container{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	nav.navbar.navbar-expand-lg.navbar-light .navbar-nav .nav-item{
		border-bottom: 1px solid #d5d5d5;
	}
	nav.navbar.navbar-expand-lg.navbar-light a.nav-link{
		color: var(--black-mouseOver);
		font-weight: 400;
		padding-top:0.5em;
		padding-bottom: 0.5em;		
	}
	nav.navbar.navbar-expand-lg.navbar-light .active a.nav-link{
		font-weight: 500;
		color: var(--black-mouseOver);
	}
	nav.navbar.navbar-expand-lg.navbar-light .navbar-nav .nav-item:last-child{
		border: none;
	}
}
/*nav.navbar.navbar-expand-lg.navbar-light .collapse.navbar-collapse .container .navbar-nav .nav-item.dropdown .dropdown-menu::before{
	content: "";
	position: absolute;
	top: -40px;
	color: white;
	background-size: white;
	border-width: 20px;
	border-color: transparent transparent white transparent;
	border-style: solid solid solid solid;
}*/
nav.navbar.navbar-expand-lg.navbar-light .collapse.navbar-collapse .container .navbar-nav .nav-item.dropdown .dropdown-menu{
	padding: 0;
	margin-top: 0.5em;
}
nav.navbar.navbar-expand-lg.navbar-light .collapse.navbar-collapse .container .navbar-nav .nav-item.dropdown .dropdown-menu .continous-dropdown{
	position: relative;
}
nav.navbar.navbar-expand-lg.navbar-light .collapse.navbar-collapse .container .navbar-nav .nav-item.dropdown .dropdown-menu .continous-dropdown .dropdown-item ~div{
	display: none;
}
nav.navbar.navbar-expand-lg.navbar-light .collapse.navbar-collapse .container .navbar-nav 
.nav-item.dropdown .dropdown-menu .continous-dropdown .dropdown-item:hover ~.dropdown-dropdown-item,
nav.navbar.navbar-expand-lg.navbar-light .collapse.navbar-collapse .container .navbar-nav 
.nav-item.dropdown .dropdown-menu .continous-dropdown .dropdown-item ~ .dropdown-dropdown-item:hover{
	position: absolute;
	display: block;
	left: 100%;
	top: 0;
	border: 1px solid #d5d5d5;
	border-radius: 5px;
	padding: 0.5em;
	background: white;
	width: fit-content;

}
nav.navbar.navbar-expand-lg.navbar-light .collapse.navbar-collapse .container .navbar-nav 
.nav-item.dropdown .dropdown-menu .continous-dropdown .dropdown-item ~ .dropdown-dropdown-item a{
	  display: block;
    width: 100%;
    padding:0.3rem;
    font-weight: 400;
    color: #212529;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}
/*footer*/
footer{
  margin-top: 50px;
}
footer .top-footer{
	background: black;
	color: white;
	text-align: center;
	padding: 0.5em;
}
footer div.col-md-4{
  padding: 3em;
}
footer img{
  width: 100%;
  margin-bottom: 10px;
}
footer p{
  margin-top: 10px;
}
footer h5{
  margin-bottom: 30px;
}
/*xong cot 1*/
footer .loaidichvu{
  padding: 30px
}
footer .loaidichvu p{
  padding: 0;
  font-size: 14px;
  margin-top: 15px;
}
footer .loaidichvu hr{
  padding: 0px 0px;
  margin: 2px; 
}
footer .hotrokhachhang h6{
  margin-top:20px;
  margin-bottom: 2px;
}
footer ul{
  margin-top: 0px;
  word-break: break-all;
}
footer #socialnetwork{
  list-style-type: none;  
}
footer #socialnetwork li{
  display: inline-block;
  color: #646464;
  margin-right: 20px;
  width: 35px;
  height:35px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
  position: relative;
}
footer #socialnetwork li i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:scale(1.2) translate(-50%,-50%);
}
footer #socialnetwork li:hover{
	background: blue;
	color: white;
}
footer> h5 {
  background-color: #0870b7;
  text-align: center;
  color: white;
  margin:0;
}
footer .bottom-footer{
	background: var(--orange-primary);
	color: white;
	text-align: center;
	padding: 0.5em;
}