.ax_default {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.heading_1 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.image {
}
.button {
}
.blockquote {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:22px;
}
.lead {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
  line-height:29px;
}
._btn-default {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-default_hover {
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-primary {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-primary_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-success {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-success_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-info {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-info_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
.label {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
.form_text_field {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
.dropdown-menu {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
._navbar-inverse__background_ {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:20px;
}
._navbar-inverse_link {
  font-size:14px;
  color:#999999;
  line-height:20px;
}
._navbar-inverse_link_hover {
  color:#FFFFFF;
}
._pager_btn {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#428BCA;
  line-height:20px;
}
._progressbar_base {
  line-height:20px;
}
._progressbar_default {
  line-height:20px;
}
._btn-grp_divider {
}
._dropdown_menuitem {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
._dropdown_menuitem_hover {
  color:#252525;
}
.badge {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
.badge_active {
  color:#428BCA;
}
.paragraph1 {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
.heading_11 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
.heading_21 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
  line-height:33px;
}
.heading_31 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
  line-height:26px;
}
.heading_41 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:19px;
}
.heading_51 {
  font-size:14px;
  text-align:left;
  line-height:15px;
}
.shape1 {
}
.text_link {
  color:#428BCA;
}
.text_link_mouse_over {
  color:#2A6496;
}
.text_link_mouse_down {
}
.droplist {
  font-size:14px;
  text-align:left;
}
.icon {
}
._btn-grp__btn-default__ends_ {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
._btn-grp__btn-default_hover {
}
.sticky_4 {
  text-align:left;
}
._btn-danger {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-danger_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-link {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._btn-link_hover {
  color:#2A6496;
  text-align:center;
  line-height:20px;
}
.flow_shape {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.droplist1 {
  color:#000000;
  text-align:left;
}
.table {
}
._pagination {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  line-height:26px;
}
.dropdown-menu_hover {
  line-height:26px;
}
.ellipse {
}
.horizontal_line {
}
._nav-tab_background_tabs {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._nav-tab_tab_hover {
  color:#2A6496;
}
._nav-tab_focused_tab {
  color:#555555;
  line-height:20px;
}
._progressbar_danger {
  line-height:20px;
}
.checkbox {
  text-align:left;
}
